.Menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;
    text-align: center;
}
.remove{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
}
.item-box{
    margin-top: 10px;
    border: 1px solid darkorange;
    padding: 10px;
    margin-bottom: 10px;
}
.Images{
    width: 70px;
    height: 70px;
}
.Order{
    width: 30%;
    float: left;
    margin-bottom: 10px;
}
.Price{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}