.App {
  text-align: center;
}
.container{
  padding: 15px;
  background: #fff;
  width: 900px;
  margin: 50px auto;
  overflow: hidden;
  border: 3px solid orange;

}
.Items{
  font-size: 20px;
  font-weight: bold;
}
.menu-container{
  width: 70%;
  float: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
